<!DOCTYPE html>
<html>
<head>
    <title>File upload example</title>
    <style>
        .msg {
            color: red;
            border: 1px solid red;
            margin: 1em;
            padding: 0.5em;
        }
    </style>
</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="msg">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}

</body>
</html>