.idea/
tmp/
examples/python/basics/.ipynb_checkpoints/Lists-checkpoint.ipynb
examples/python/basics/.ipynb_checkpoints/Strings-checkpoint.ipynb
examples/python/basics/.ipynb_checkpoints/Dicts-checkpoint.ipynb
