<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top movies</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
</head>
<body>

<form action="/">
    <label>Search:<input type="text" name="query" size="20" value="{{ query|default("") }}"></label>
    <label>From: <input type="number" name="year_from" min="1970" max="2017" value="{{ year_from|default("") }}"></label>
    <label>To: <input type="number" name="year_to" min="1970" max="2017" value="{{ year_to|default("") }}"></label>
    <input type="submit" value="Search">
</form>

<table>
    <thead>
    <tr>
        <th>Rank</th>
        <th>Title</th>
        <th>Year</th>
        <th>Rating</th>
        <th>About</th>
    </tr>
    </thead>
    <tbody>
    {% for movie in movies|sort(attribute='rating', reverse=True) %}
        <tr class="{{ loop.cycle('even', 'odd') }}">
            <td>#{{ loop.index }}</td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.rating }}</td>
            <td>{{ movie.synopsis|default("<em>No synopsis is available</em>")|safe|truncate(80) }}
                <br />{{ movie.url|urlize(target="_blank") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>