<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise #1: Remembering user details</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
</head>
<body>

<header>
    {% if name and email %}
        Hello <strong>{{ name }}</strong> ({{ email }}) | <a href="{{ url_for("forget") }}">forget me</a>
    {% else %}
        <form action="{{ url_for("save") }}" method="POST">
            <label>Name: <input type="text" name="name" size="20" required></label>
            <label>Email: <input type="email" name="email" size="20" required></label>
            <input type="submit" value="Remember"/>
        </form>
    {% endif %}
</header>

<main>
    {# TODO display error and success messages #}

    The main content comes here. Lorem ipsum...
</main>

</body>
</html>