{% extends "layout.html" %}
{% block content %}
<table>
    <thead>
    <tr>
        <th>Rank</th>
        <th>Title</th>
        <th>Year</th>
        <th>Rating</th>
        <th>About</th>
    </tr>
    </thead>
    <tbody>
    {% for movie in movies|sort(attribute='rating', reverse=True) %}
        <tr class="{{ loop.cycle('even', 'odd') }}">
            <td>#{{ loop.index }}</td>
            <td><a href="{{ url_for("movie", imdb_id=movie["imdb_id"]) }}">{{ movie.title }}</a></td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.rating }}</td>
            <td>{{ movie.synopsis|default("<em>No synopsis is available</em>", true)|safe|truncate(80) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}