<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask MySQL example</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
{% block nav %}
    {% include "nav.html" %}
{% endblock %}
</body>
</html>